<h1>UPCONST - Actualizar contraseña</h1>

<p>Hola, <%= @user.name %>,</p>

<p>Alguien ha solicitado un cambio de contraseña correspondiente a su cuenta. Si ha sido usted, haga clic en <span><%= link_to 'este enlace.', @reset_url %></span></p>

<p>Si no ha sido usted, ignore este email y le recomendamos que cambie sus credenciales de inicio de sesión.</p>

<p>No se hará efectivo ningún cambio hasta que no haga clic en el enlace y cambie la contraseña.</p>

<p>Saludos cordiales:</p>
<p><em><strong>El equipo de UpConst</strong></em></p>

<%= image_tag 'upconst-logo.png' %>